DATABASE_URL=postgres://mi-dev:mi-dev@localhost:5432/mapper-influence-dev
MI_REDIS_URL=redis://localhost:6379

MI_AUTH_REDIRECT_URI=/
PORT=3000

OSU_CLIENT_ID=
OSU_CLIENT_SECRET=
OSU_REDIRECT_URI=http://localhost:3000/auth

MAPPER_INFLUENCE_CI_ENV=

RUST_LOG=info

OTEL_SERVICE_NAME=mapper-influence
HONEYCOMB_KEY=
