DATABASE_URL=postgres://mi-dev:mi-dev@localhost:5432/mapper-influence-dev
MI_REDIS_URL=redis://localhost:6379
MI_AUTH_REDIRECT_URI=/
OSU_CLIENT_ID=
OSU_CLIENT_SECRET=
OSU_REDIRECT_URI=http://localhost:3000/auth
PORT=3000
MAPPER_INFLUENCE_CI_ENV=
RUST_LOG=info
