.addUser {
  .icon {
    width: 2rem;
    height: 2rem;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing;

  background: linear-gradient(to right, $color-secondary-bg, $color-primary-bg);

  outline: none;

  border-radius: $border-radius;
  padding-inline: $spacing * 2;
  padding-block: $spacing;

  > span {
    font-size: 1.5rem;
    font-weight: 700;
    color: $color-text-primary;
  }

  &:hover {
    background: linear-gradient(to right, $color-secondary, $color-primary);
  }
}
