@import "./extendables";

html,
body {
  padding: 0;
  margin: 0;

  background-color: var(--bgColor-1);
  overflow-x: hidden;

  font-family: var(--inter);

  font-size: 1rem;
  // var(--responsiveWidth) does not work
  @media screen and (max-width: 60rem) {
    font-size: 0.75rem;
  }

  &::-webkit-scrollbar-track {
    margin: 1rem;
  }
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.25rem;
}
h4,
h5,
h6 {
  font-size: 1rem;
}

* {
  font-family: inherit;
  box-sizing: border-box;
  font-size: 1rem;

  color: var(--textColor);
  /* All of the color transitions */
  $transitionConfig: 0.1s ease-in;
  $allTransitions: background-color $transitionConfig, color $transitionConfig,
    outline-color $transitionConfig, text-shadow $transitionConfig,
    box-shadow $transitionConfig, font-weight $transitionConfig,
    fill $transitionConfig, border-color $transitionConfig;
  transition: $allTransitions;
  &::after,
  &::before {
    transition: $allTransitions;
  }
}

a {
  text-decoration: none;
  color: var(--buttonOutline);
  cursor: pointer;
}

button {
  > span {
    line-height: 1;
    color: inherit;
  }
}

*::-webkit-scrollbar {
  color: transparent;
  width: 0.6rem;
}
*::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to top,
    var(--primaryColor),
    var(--secondaryColor)
  );
  border-radius: 999rem;
}
*::-webkit-scrollbar-track {
  background: linear-gradient(
    to top,
    var(--primaryColorBg),
    var(--secondaryColorBg)
  );
  border-radius: 999rem;
}

input,
textarea,
button {
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.globals-hoverableButton {
  @extend %button;
}
