@import "/src/styles/extendables.scss";

.tooltip {
  position: absolute;
  padding: 0.25em 0.5em;
  border-radius: var(--borderRadius);
  max-width: 10rem;
  width: max-content;

  background-color: var(--bgColor-1);
  @extend %cardShadow;

  text-align: center;
  pointer-events: none;

  opacity: 0;
  transition: opacity ease-out 0.15s;

  z-index: 2;
}
